
solution1/solution1.aps
.cproject
.project
.settings/resize_accel.Debug.launch
*.launch
.settings/language.settings.xml
.apc/autopilot.apfmapping
solution1/solution1.directive
.vivado_hls_log_all.xml
solution1/solution1.log
solution1/.autopilot/.autopilot_exit
solution1/.autopilot/db/.message_csim.xml
solution1/.autopilot/db/autopilot.flow.log
solution1/.autopilot/db/dsp_style
solution1/csim/.lst_opt.tcl
solution1/csim/build/csim.mk
solution1/csim/build/Makefile.rules
solution1/csim/build/run_sim.tcl
solution1/csim/build/sim.bat
solution1/csim/build/obj/.dir
solution1/csim/report/resize_accel_csim.log
solution1/.autopilot/db/.message_syn.xml
solution1/.autopilot/db/xf_resize_accel.pp.0.cpp
solution1/csim/build/csim.exe
solution1/csim/build/obj/xf_resize_accel.d
solution1/csim/build/obj/xf_resize_accel.o
solution1/csim/build/obj/xf_resize_tb.d
solution1/csim/build/obj/xf_resize_tb.o
solution1/csynth.tcl
solution1/solution1.funcunit
solution1/solution1_data.json
solution1/.autopilot/db/all.directive.json
solution1/.autopilot/db/useless.bc
solution1/.debug/resize_accel.protoinst
solution1/csim/build/error.png
solution1/csim/build/input.png
solution1/csim/build/notebook.png
solution1/csim/build/output_hls.png
solution1/csim/build/resize_ocv.png
solution1/impl/misc/logo.png
solution1/impl/misc/drivers/resize_accel_v1_0/data/resize_accel.mdd
solution1/impl/misc/drivers/resize_accel_v1_0/data/resize_accel.tcl
solution1/impl/misc/drivers/resize_accel_v1_0/src/Makefile
solution1/impl/misc/drivers/resize_accel_v1_0/src/xresize_accel.c
solution1/impl/misc/drivers/resize_accel_v1_0/src/xresize_accel.h
solution1/impl/misc/drivers/resize_accel_v1_0/src/xresize_accel_hw.h
solution1/impl/misc/drivers/resize_accel_v1_0/src/xresize_accel_linux.c
solution1/impl/misc/drivers/resize_accel_v1_0/src/xresize_accel_sinit.c
solution1/impl/verilog/axis2xfMat.v
solution1/impl/verilog/Block_Mat_exit61_pro.v
solution1/impl/verilog/fifo_w24_d150_A.v
solution1/impl/verilog/fifo_w32_d2_A.v
solution1/impl/verilog/fifo_w32_d3_A.v
solution1/impl/verilog/resize.v
solution1/impl/verilog/resize_accel.v
solution1/impl/verilog/resize_accel_AXILiteS_s_axi.v
solution1/impl/verilog/resize_accel_entry59.v
solution1/impl/verilog/resize_accel_mac_g8j.v
solution1/impl/verilog/resize_accel_mac_ibs.v
solution1/impl/verilog/resize_accel_mul_fYi.v
solution1/impl/verilog/resize_accel_mul_hbi.v
solution1/impl/verilog/resize_accel_udivbkb.v
solution1/impl/verilog/resizeNNBilinear.v
solution1/impl/verilog/resizeNNBilinear_cud.v
solution1/impl/verilog/scaleCompute.v
solution1/impl/verilog/start_for_Block_MjbC.v
solution1/impl/verilog/start_for_xfMat2akbM.v
solution1/impl/verilog/xfMat2axis.v
solution1/impl/verilog/xfUDivResize.v
solution1/impl/vhdl/axis2xfMat.vhd
solution1/impl/vhdl/Block_Mat_exit61_pro.vhd
solution1/impl/vhdl/fifo_w24_d150_A.vhd
solution1/impl/vhdl/fifo_w32_d2_A.vhd
solution1/impl/vhdl/fifo_w32_d3_A.vhd
solution1/impl/vhdl/resize.vhd
solution1/impl/vhdl/resize_accel.vhd
solution1/impl/vhdl/resize_accel_AXILiteS_s_axi.vhd
solution1/impl/vhdl/resize_accel_entry59.vhd
solution1/impl/vhdl/resize_accel_mac_g8j.vhd
solution1/impl/vhdl/resize_accel_mac_ibs.vhd
solution1/impl/vhdl/resize_accel_mul_fYi.vhd
solution1/impl/vhdl/resize_accel_mul_hbi.vhd
solution1/impl/vhdl/resize_accel_udivbkb.vhd
solution1/impl/vhdl/resizeNNBilinear.vhd
solution1/impl/vhdl/resizeNNBilinear_cud.vhd
solution1/impl/vhdl/scaleCompute.vhd
solution1/impl/vhdl/start_for_Block_MjbC.vhd
solution1/impl/vhdl/start_for_xfMat2akbM.vhd
solution1/impl/vhdl/xfMat2axis.vhd
solution1/impl/vhdl/xfUDivResize.vhd
